

.logo{
    height: 40px;
    width: 40px;
}

#navc:hover{
      color: orangered;    
}
#full{
    background-color:#C9EEFF;
    text-align: center;
}
#profile{
    margin-top: 10%;
    height: 250px;
    width: 250px;
}
#btn1{
    margin-top: 10%;
    margin-right: 10px;
}
#btn2{
    margin-top: 10%;
}
#hi{
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
}
i{
    margin-right: 5px;
}
.container{
    margin-bottom: 3%;
}

p{
    padding: 5% 2% 5% 2%;
    line-height: 30px;
}

#abtme{
    margin-top: 8%;
    font-family: 'Montserrat', sans-serif;
}
#btn3{
    margin-bottom: 5%;
    margin-bottom: 2%;
    width: 50%;
}
#ido{
    margin-top: 8%;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
#btn3:hover{
    background-color: orangered;
 
}
